{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RevLabs - Circuits</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="selection-body">
    <nav class="navbar">
        <div class="nav-links">
            <a href="#" class="active" style="font-size: 1.3rem;">Circuits</a>
        </div>
        <div class="user-profile">
            <span>DanDdC</span>
            <img src="{% static 'img/avatar-placeholder.png' %}" alt="User Avatar" class="avatar">
        </div>
    </nav>
    <h2 style="text-align: center; margin-top: 2rem;">Select your Circuit</h2>
    
    <div class="car-grid">
        {% for track in tracks %}
        <a href="{% url 'car_selection' %}?track={{ track.slug_id }}" style="text-decoration: none;">
            <div class="card track-card" style="width: auto;">
                <img src="{% static track.image_path %}" alt="{{ track.name }}">
                <h3>{{ track.name }}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
</body>
</html>